{% extends 'base.html.twig' %}

{% block title %}Kaloflix -
	{{ genreId.libelle }}
{% endblock %}

{% block body %}
	<h1 class="text-center text-white">Liste de films
		{{ genreId.libelle }}</h1>
	<div class="container d-flex flex-wrap justify-content-start">
		{% for film in genreId.films %}
			<div class="card mx-auto my-3 p-1 rounded shadow" style="max-width: 18rem; min-width: 18rem; background-color: #1a1a1a;">
				<img src="{{ film.img }}" alt="film image" class="card-img-top">
				<div class="card-body rounded" style="background-color: #1a1a1a">
					<h4 class="card-title">{{ film.nom }}</h4>
					<h6 class="card-subtitle mb-2 text-muted">
						{% for genre in film.genres %}
							{{ genre.libelle }}
						{% endfor %}
					</h6>
					<p class="card-text text-white-50">{{ film.description }}</p>
					<a href="{{ film.lien }}" class="card-link text-white">Regarder</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
